@import "../globals.css";

.param {
  font-size: 32px;
  font-family: var(--font-label);
}

.paramInput {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  text-decoration: underline dotted var(--color-neutral-4);
  width: 5ch;
}
