:root {
  --simulator-shadow-third: 3px 3px 9px 0px rgba(0, 0, 0, 0.74);

  --color-neutral-1: #ffffff;
  --color-neutral-2: #e5e5e5;
  --color-neutral-3: #d7d7d7;
  --color-neutral-4: #aaaaaa;

  --color-cneutral-1: #000000;
  --color-cneutral-2: #161616;
  --color-cneutral-3: #2c2c2c;
  --color-cneutral-4: #3b3b3b;
  --color-cneutral-5: #636363;

  --font-label: "Caveat Brush", cursive;
}
