@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import "./globals.css";

body {
  background-color: #292929;
  color: var(--color-neutral-1);
}

#root {
  width: 100vw;
  height: 100vh;
}
